.MenuBox {
  padding: 2ex;
  align-items: center;
}

.MenuTitle {
  color: #3b2108;
  text-shadow: 3px 1px rgba(54, 41, 4, 0.205);
  line-height: 32px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  border: 2px;
}

.MenuInstructions {
  color: #3b2108e0;
  text-shadow: 1.5px 1px rgba(54, 41, 4, 0.294);
  font-size: 14px;
}
